<template>
  <div class="level is-mobile">
    <div class="level-left">
      <Breadcrumbs />
    </div>
    <div class="level-right">
      <UserButton />
    </div>
  </div>
</template>
<script setup lang="ts">
import Breadcrumbs from "../components/Breadcrumbs.vue";
import UserButton from "../components/UserButton.vue";
</script>
