<template>
  <router-link :to="{ name: 'user' }" class="level-item">
    <span v-if="user">
      {{ user.name }}
    </span>
    <span v-else> Login </span>
  </router-link>
</template>
<script setup lang="ts">
import { user } from "../user";
</script>
