/* TODO: generate unicode-range field with
 *   fc-query --format='%{charset}\n' file.otf
 */
@font-face {
  font-family: "Leland Text";
  src: url("fonts/LelandText.otf");
}
@font-face {
  font-family: "Leland";
  src: url("fonts/Leland.otf");
}
@font-face {
  font-family: "Edwin";
  src: url("fonts/Edwin-BdIta.otf");
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: "Edwin";
  src: url("fonts/Edwin-Italic.otf");
  font-style: italic, oblique;
}
@font-face {
  font-family: "Edwin";
  src: url("fonts/Edwin-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Edwin";
  src: url("fonts/Edwin-Roman.otf");
}
