@import "../../node_modules/bulma/css/bulma.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "./fonts.css";
:root {
  --bulma-navbar-breakpoint: 10000;
  touch-action: pan-x pan-y;
}
:root nav.navbar {
  --bulma-navbar-background-color: transparent;
}
nav.navbar .navbar-item {
  padding: 0;
}
:root,
html,
body,
#app {
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family:
    "Noto Sans", "Noto Sans Symbols 2", Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif, Edwin, Leland, "Leland Text";
}
root::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#app::-webkit-scrollbar {
  display: none;
}
