body {
  background: url(rehorse.jpg);
  background-size: 100% auto;
}
@media (prefers-color-scheme: dark) {
  body {
    background: none;
  }
}
.bar > h1 {
  text-align: center;
  margin-top: 0;
  vertical-align: top;
}
.left {
  float: left;
}
.right {
  float: right;
}
.progress {
  background: lightblue;
  height: 1em;
}
td input,
td p {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
}
.inrange,
.outrange,
a {
  cursor: pointer;
}
.icon-button {
  height: 4em;
  width: 4em;
}
.button {
  cursor: pointer;
  border: 1px solid black;
  margin: 5px;
  touch-action: none;
}
.slider {
  clear: both;
  width: 100%;
  height: 2em;
  position: relative;
  touch-action: none;
}
.range,
.mark,
.pos {
  height: 100%;
  position: absolute;
}
.range {
  left: 0%;
  right: 0%;
}
.range,
.inrange,
.outrange:hover {
  background: lightgreen;
}
.mark {
  border-left: 1px solid red;
  right: 0%;
}
.pos {
  border-left: 1px solid black;
  width: 0px;
}

div.range-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
  grid-auto-rows: 1fr;
  grid-row-gap: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.range-selector > div {
  display: grid;
  grid-auto-rows: 1fr;
  grid-row-gap: 1px;
  width: auto;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
div.range-selector > div > div {
  width: 100%;
  height: 2em;
}
div.range-selector > div > div > input {
  width: 3em;
}
h1.player-head {
  margin-top: 0;
  text-align: center;
}
div.name-value-grid,
dl.name-value-grid {
  display: inline-grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  align-items: top;
}
div.name-value-grid > :nth-child(odd),
dl.name-value-grid > :nth-child(odd) {
  justify-self: end;
}
.cancelled {
  text-decoration-line: line-through;
}
